[submodule "vim/pack/stvdr/start/vim-airline"]
	path = vim/pack/stvdr/start/vim-airline
	url = https://github.com/vim-airline/vim-airline.git
[submodule "vim/pack/stvdr/start/gruvbox"]
	path = vim/pack/stvdr/start/gruvbox
	url = https://github.com/morhetz/gruvbox.git
[submodule "vim/pack/stvdr/start/ctrlp.vim"]
	path = vim/pack/stvdr/start/ctrlp.vim
	url = https://github.com/ctrlpvim/ctrlp.vim.git
[submodule "vim/pack/stvdr/start/vim-go"]
	path = vim/pack/stvdr/start/vim-go
	url = https://github.com/fatih/vim-go.git
[submodule "vim/pack/stvdr/start/vim-tmux-navigator"]
	path = vim/pack/stvdr/start/vim-tmux-navigator
	url = https://github.com/christoomey/vim-tmux-navigator.git
[submodule "vim/pack/stvdr/start/vim-delve"]
	path = vim/pack/stvdr/start/vim-delve
	url = https://github.com/sebdah/vim-delve.git
[submodule "vim/pack/stvdr/start/thrift.vim"]
	path = vim/pack/stvdr/start/thrift.vim
	url = https://github.com/solarnz/thrift.vim.git
